<!--ラッパー-->
<div id="wrapper">
    
    <!--book作成・更新成功通知-->
    <div id="notice">
        <%= flash[:notice] %>
    </div>
    
    <!--bookタイトル-->
    <h4 class="show-info">title : <span><%= @book.title %></span></h4>
    <!--bookボディ-->
    <h4 class="show-info">body : <span><%= @book.body %></span></h4>
    
    <!--各種リンク-->
    <span class="link edit"><%= link_to "Edit", edit_book_path(@book.id) %></span>
    <span class="link back"><%= link_to "Back", "/books" %></span>
    
</div>